<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">
      <a href="/login">ログイン</a>
    </div>
    
    <div class="posts-index-item">
      <a href="/posts/new">新規投稿</a>
          </div>
  </div>
</div>